// =========================
// HEADER
// =========================
.header {
	&__heading {
		font-size: 3.8rem;
	}

	&__text {
		font-size: 1.8rem;
	}

	&__btn {
		font-size: 1.6rem;
	}

	&__apartment {
		height: 25vh;
		background-image: $gradientTwo;
		display: flex;
		justify-content: center;
	}

	&__heading {
		font-family: $fontTitle;
		font-weight: 400;
		margin-bottom: 0.3em;
	}

	&__text {
		font-family: $fontDescription;
		font-weight: 300;
	}

	&__btn {
		position: relative;
		width: 60%;
		margin: 2em;
		padding: 1em 0.8em;
		font-size: 1.8rem;
		color: $pure-white;
		border: none;
		text-decoration: none;
		text-transform: uppercase;
		background-image: $sectionContact;
		cursor: pointer;
		@include boxShadowDark;
		@include animationLinksWhite;
	}
}

.hero-img {
	@include backgroundFixed;
	background-image: linear-gradient(
			45deg,
			rgba(99, 96, 96, 0.75),
			rgba(26, 17, 12, 0.853)
		),
		url('../img/apartamenty_hero_mobile.jpg');
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	text-align: center;

	&__text {
		color: $pure-white;
		font-family: $fontDescription;
		font-weight: 300;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@supports (-webkit-overflow-scrolling: touch) {
	.hero-img {
		@include backgroundImage;
		&:after {
			background: url('../img/apartamenty_hero_mobile.jpg') center center;
			@include background;
		}
	
		&__shadow {
			@include shadow;
		}
	}
}

@media (min-width: 768px) {
	.hero-img {
		background-image: $gradient, url('../img/apartamenty_hero.jpg');
	}
	.header {
		&__heading {
			font-size: 6.6rem;
		}

		&__text {
			font-size: 2.2rem;
		}

		&__btn {
			font-size: 2.4rem;
		}
	}
}
