// =========================
// HEADER
// =========================
.header {
	&__heading {
		font-size: 3.8rem;
	}

	&__text {
		font-size: 1.8rem;
	}

	&__btn {
		font-size: 1.6rem;
	}
}

.header {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	text-align: center;
	color: $pure-white;

	&__home {
		height: 80vh;
		@include backgroundHeader;
		// display: block;
		// width: 100%;
	}

	@supports (-webkit-touch-callout: none) {
		&__home::after {
			height: 80vh;
			content: '';
			position: absolute;
			background: url('../img/apartamenty_hero_mobile_test.jpg') center top no-repeat scroll,
						-webkit-linear-gradient(45deg, rgba(99, 96, 96, 0.75), rgba(26, 17, 12, 0.853));
			background-size: auto 80vh; /* Specify the background size */
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	// @supports (-webkit-touch-callout: none) {
	// 	&__home::before {
			
			
	// 	}
	// }

	&__apartment {
		height: 25vh;
		background-image: $gradientTwo;
		display: flex;
		justify-content: center;
	}

	&__mountains {
		height: 45vh;
		@include heroImagesApartment('/src/img/aboutus/wschod.jpg');
	}

	&__heading {
		font-family: $fontTitle;
		font-weight: 400;
		margin-bottom: 0.3em;
	}

	&__text {
		font-family: $fontDescription;
		font-weight: 300;
	}

	&__btn {
		position: relative;
		margin: 2em;
		padding: 1em 0.8em;
		font-size: 1.8rem;
		font-family: $fontDescription;
		color: $pure-white;
		border: none;
		text-decoration: none;
		text-transform: uppercase;
		background-image: $sectionContact;
		cursor: pointer;
		@include boxShadowDark;
		@include animationLinksWhite;
	}
}

@media (min-width: 768px) {
	.header {
		&__home {
			@include backgroundHeaderBig;
		}

		&__heading {
			font-size: 6.6rem;
		}

		&__text {
			font-size: 2.2rem;
		}

		&__btn {
			font-size: 2.4rem;
		}
	}
}
