// =========================
// HEADER
// =========================
.header {
	&__heading {
		font-size: 3.8rem;
	}

	&__text {
		font-size: 1.8rem;
	}

	&__btn {
		font-size: 1.6rem;
	}

	&__apartment {
		height: 25vh;
		background-image: $gradientTwo;
		display: flex;
		justify-content: center;
	}

	&__heading {
		font-family: $fontTitle;
		font-weight: 400;
		margin-bottom: 0.3em;
	}

	&__text {
		font-family: $fontDescription;
		font-weight: 300;
	}

	&__btn {
		position: relative;
		width: 60%;
		margin: 2em;
		padding: 1em 0.8em;
		font-size: 1.8rem;
		color: $pure-white;
		border: none;
		text-decoration: none;
		text-transform: uppercase;
		background-image: $sectionContact;
		cursor: pointer;
		@include boxShadowDark;
		@include animationLinksWhite;
	}
}

.hero-img {
	position: relative;
	background-image: url('../img/apartamenty_hero_mobile.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	align-items: center;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	text-align: center;

	@supports (-webkit-touch-callout : none) {
		.hero-img {
			background-attachment: scroll;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
		}
	}

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: $gradient;
	}

	&__text {
		color: $pure-white;
		font-family: $fontDescription;
		font-weight: 300;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media (min-width: 768px) {
	.hero-img {
		background-image: url('../img/apartamenty_hero.jpg');
	}
	.header {
		&__heading {
			font-size: 6.6rem;
		}

		&__text {
			font-size: 2.2rem;
		}

		&__btn {
			font-size: 2.4rem;
		}
	}
}
